<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>even or odd</h1>
    <div class="container">
        <form action="" method="post">
            {%csrf_token%}
            <div>
        <label for="">num</label>    
        <input type="text" name="num" placeholder="enter a number">
    </div>
    <div>
        <button type="submit">find</button>
    </div>

        </form>
    </div>
</body>
</html>
