<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>operations</h1>
    <div class="containert">
<div>
    <a href="{%url 'addition'%}">Addition</a>
</div>
      
        <div>
        <a href="{%url 'multiplication'%}">Multiplication</a>
        </div>
        <div>
            <a href="{%url 'division'%}">Division</a>
        </div>
        <div>
            <a href="{%url 'subtraction'%}">subtraction</a>
        </div>
        <div>
            <a href="{%url 'factorial'%}">factorial</a>
        </div>
        <div>
            <a href="{%url 'leapyear'%}">leapyear</a>
        </div>
        <div>
            <a href="{%url 'Even number'%}">Even number</a>
        </div>
        <div>
            <a href="{%url 'Primenumber'%}">Prime number</a>
        </div>
        <div>
            <a href="{%url 'bmi'%}">bmi</a>
        </div>
        <div>
            <a href="{%url 'emi' %}"> emi</a>
        </div>
    </div>
    
</body>
</html>